.imgFilter{
	filter: brightness(0.80);
	

}


.newColorPurple{
background-color: #8f4a8a;
border: none; 
color: white;

}

.logo1{
	animation: scaleLogo 2s infinite alternate;
}

@keyFrame scaleLogo{
	top{
		transform: scale(1.2);
	}
}

*{
	scroll-behavior: smooth;
}

.card img{
	transition: transform 2s;

}

.card img:hover{
	transform: scale(1.1)


}

.cardImg{
	position: relative;
	overflow: hidden ;
	cursor: pointer; 

}






 .container .carousel-caption{
	  align-items: center;


}
